pip3 install torch==1.13.0 torchvision==0.14.0 torchaudio==0.13.0 --extra-index-url https://download.pytorch.org/whl/cu117
pip3 install packaging
pip3 install timm==0.4.12
pip3 install pytest chardet yacs termcolor
pip3 install submitit tensorboardX
pip3 install triton==2.0.0
pip3 install wheel
pip3 install causal_conv1d==1.0.0  # causal_conv1d-1.0.0+cu118torch1.13cxx11abiFALSE-cp38-cp38-linux_x86_64.whl
pip3 install mamba_ssm==1.0.1  # mmamba_ssm-1.0.1+cu118torch1.13cxx11abiFALSE-cp38-cp38-linux_x86_64.whl
pip3 install scikit-learn matplotlib thop h5py SimpleITK scikit-image medpy yacs
pip3 install numpy==1.24.4
pip3 install dataloader
pip3 install prettytable